<% include ./partials/header %>
<div class="row">
    <h1 id="signup-head">Sign Up!</h1>
    <div id="signup-container">
        <form action="/register" method ="POST">
            <div class ="form-group"><input type="text" name="username" placeholder="username"></div>
            <div class ="form-group"><input type="text" name="firstName" placeholder="First Name"></div>
            <div class ="form-group"><input type="text" name="lastName" placeholder="Last Name"></div>
            <div class ="form-group"><input type="text" name="avatar" placeholder="Avatar URL"></div>
            <div class ="form-group"><input type="email" name="email" placeholder="email address"></div>
            <div class ="form-group"><input type= "text" name= "about" placeholder="About Me"></div>
            
            <div class ="form-group"><input type="password" name="password" placeholder="password"></div>
            
            <div class ="form-group"><input type="text" name="adminCode" placeholder="EZ Enterprises employee code"></div>
            
            
            
            <button>Submit</button>
        </form>
    </div>
</div>
<% include ./partials/footer %>