<% include ./partials/header %>

<h1>Please Log In!</h1>
<form action="/login" method ="POST">
    <input type="text" name="username" placeholder="User Name">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>
<% include ./partials/footer %>