<% include partial/header%>
<h1>You Fell in Love with: <%= thingVar %></h1> 

<% if (thingVar.toLowerCase() === "boobs"){ %>
<h2> It'll get you in trouble </h2>
<% } %>

<p>P.S. this is the love.ejs file!</p>



<% include partial/footer%>